body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: rgb(0, 81, 128);
    color: white;
    font: 16px Lexend, sans-serif;
}

#header {
    color: red !important;
}

.buttons {
    display: flex;
    gap: 20px;
}

#start,
#close {
    padding: 15px 20px;
    font-size: 15px;
    font-weight: 500;
    border: 3px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.451);
    color: white;
    font: 12px Lexend, sans-serif;
    text-transform: uppercase;
}



#player {
    height: 60vh;
    width: 60vw;
    background-color: rgba(0, 0, 0, 0.451);
    border: 5px;
    border-radius: 10px;
}